<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Summary</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="payment_summary.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div style="width: 100%; overflow-x: auto;">
        <table style="width: 100%;">
            <tr class="invoice-title" style="padding-bottom: 30px;">
                <td>
                    <h2 style="font-size:25px; text-align: center; padding-bottom: -15px">INVOICE</h2>
                </td>
            </tr>
            <tr style="border-bottom: 0.5px solid #000">
                <td>
                    <h3 style="text-align: right; padding-bottom: 2px;">Invoice Date: <span>{{today_date}}</span></h3>
                </td>
            </tr>            
            <tr style="padding: 5px 0;">
                <td>
                    <table>
                        <tr>
                            <td style="text-align: left; padding-top: 10px;">
                                <address>
                                    <strong>Billed To:</strong><br><br>
                                    {{user_name}}<br>
                                    {{user_mobile}}<br>
                                    {{user_email}}<br>
                                    <b>Card Number:</b> {{user_card_number}}<br>
                                    <b>Bank:</b> {{user_bank_name}}
                                </address>
                            </td>
                            <td style="text-align: right;">
                                <address>
                                    <strong>Payment From:</strong><br><br>
                                    {{admin_name}}<br>
                                    <b>Contact No:</b> {{admin_mobile}}<br>
                                    <b>Email:</b> {{admin_email}}
                                </address>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="panel-heading" style="padding-top: 5px; padding-bottom: 5px;">
                <td>
                    <h3 style="text-align:center; font-size: 15px;"><strong>Payment Summary</strong></h3>
                    <b>Payment Method :</b> Deposit
                </td>
            </tr>
            <!-- <div class="panel-body"> -->
            <tr class="table-responsive">
                <td style="padding-top: 3px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr style="padding-bottom: 2px;">
                                <td><strong>Transaction Id</strong></td>
                                <td style="text-align: left;"><strong>Paid Through</strong></td>
                                <td style="text-align: left;"><strong>Paid At</strong></td>
                                <td style="text-align: left;"><strong>Method</strong></td>
                                <td style="text-align: left;"><strong>Payment Amount</strong></td>
                                <td style="text-align: center;"><strong>W/D Charges</strong></td>
                                <td style="text-align: right;"><strong>Total Paid Amount</strong></td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            {% for record in records %}
                            <tr style="padding-top: 5px;">
                                <td style="font-size: 100%;">**********{{record.transaction_id}}</td>
                                <td style="text-align: left; ">{{record.due_paid_through}}</td>
                                <td style= "margin-right: 10px;">{{record.due_paid_at}}</td>
                                <td style= "margin-right: 10px;">{{payment_method}}</td>
                                <td style= "margin-right: 10px;">{{record.paid_amount}}</td>
                                <td style="text-align: center;">{{record.charge_sum}}</td>
                                <td style="text-align: right; ">{{record.total_amount}}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr style="padding-top: 10px;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"><strong>Subtotal</strong></td>
                                <td style="text-align: right;">670.99</td>
                            </tr> -->
                            <tr style="padding-top: 5px;">
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td style="text-align: right;"><strong>Total Charges</strong></td>
                                <td style="text-align: right;">{{total_charge}}</td>
                            </tr>
                            <tr style="padding-top: 5px; ">
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td style="text-align: right;"><strong>Total Amount</strong></td>
                                <td style="text-align: right;">{{total_amount}}</td>
                            </tr>
                        </tbody>                                
                    </table>
                </td>
            </tr>
            <!-- </div> -->
        </table>
    </div>
</body>
</html>
                    
                    
                    
                   
                
